:root{
    --nav-color-1: #38b6e6;
    --nav-color-2: #ed544c;
    --nav-color-3: #eaa319;
    --nav-color-4: #16b5a3;
    --nav-color-5: #447fca;
    --header-color-1: #D6EEF7;
    --header-color-2: #F7E0DF;
    --header-color-3: #F7EDD9;
    --header-color-4: #D1EEEA;
    --header-color-5: #DBE5F2;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(119,197,227);
    color: black;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif; 
    font-size: 17px;
    font-weight: 300;
}

header{
    background-color: rgb(214,238,247);
    /* border-bottom: 1px solid black; */
    overflow: hidden;
    height: 80px;
}

header .nav-item a{
    /* border: 1px solid red; */
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 130px;
}

.nav-bar{
    /* border: 1px solid black; */
    float: right;
    height: 75%;
    height: 100%;
}

.nav-bar-list{
    height: 100%;
    list-style: none;
    justify-self: right;
    display: flex;
    /* align-items: center; */
    /* border: 1px solid blue; */
}

.nav-item{
    /* border: 1px solid green; */
    height: 100%;
    color: white;
}

header .title{
    /* border: 1px solid blue; */
    text-decoration: none;
    color: black;
    font-size: 25px;
    width: auto;
}

.icon{
    padding-left: 35px;
    padding-top: 30px;
    margin-right: 15px;
}

.text-uppercase{
    text-transform: uppercase;
}

.nav-item a:hover,
.nav-item a:not(:hover) {
    transition-duration: 300ms;
}

.nav-item a.selected,
.nav-item a:hover{
    color: white;
}

.nav-item:nth-of-type(1) a.selected,
.nav-item:nth-of-type(1) a:hover{
    background-color: var(--nav-color-1);
}

.nav-item:nth-of-type(2) a.selected,
.nav-item:nth-of-type(2) a:hover {
    background-color: var(--nav-color-2);
}

.nav-item:nth-of-type(3) a.selected,
.nav-item:nth-of-type(3) a:hover {
    background-color: var(--nav-color-3);
}

.nav-item:nth-of-type(4) a.selected,
.nav-item:nth-of-type(4) a:hover {
    background-color: var(--nav-color-4);
}

.nav-item:nth-of-type(5) a.selected,
.nav-item:nth-of-type(5) a:hover {
    background-color: var(--nav-color-5);
}



/* figcaption{
    position: absolute;
} */

.gallery{
    display: none;
}

.gallery.active {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.gallery img{
    width: 100%;
    opacity: 0.8;
}

footer{
    margin-top: 50px;
}

.social-icons{
    margin-bottom: 20px;
    text-align: center;
}

.social-link {
	background-color: white;
    color: black;
    display: inline-block;
    width: 40px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin-right: 10px;
}

.social-link:hover{
    background-color: black;
    color: white;
}

.copyright-text {
	background-color: rgba(0, 0, 0, 0.2);
	color: black;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
	text-align: center;
    padding: 30px;
}

.copyright-text a{
    color: black;
    text-decoration: none;
}

.container{
    display: none;
}

.container.active{
    display: block;
    /* border: 1px solid black; */
    margin: 0px 24px;
    padding: 0px 30px;
}

.about-page{
    /* border: 1px solid red; */
    padding: 20px;
}

.contact{
    padding-block: 20px;
}

.page-5 .contact{
    padding-block-end: 0px;
}

.row{
    /* border: 1px solid green; */
    /* margin-bottom: 30px; */
    padding: 0px 0px 30px;
    display: flex;
}

.col{
    /* border: 1px solid blue; */
    margin-right: 30px;
    padding: 30px 40px;
    width: 100%;
}

.col:last-child{
    margin-right: 0px;
}

.col .title{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 2rem;
}

.page-5 .col .title{
    font-size: 1.5rem;
}

.col .text{
    line-height: 1.8;
    opacity: 0.7;
}

.page-4 .col{
    background-color: var(--header-color-4);
}

.page-5 .col{
    background-color: var(--header-color-5);
}

.form-input{
    width: 92%;
    padding: 10px 20px;
    /* border: 1px; */
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.send{
    background-color: #0066CC;
    color: white;
    padding: 12px 30px;
    width: auto;
    margin-top: 10px;
    border: 0;
}

.send:hover{
    background-color: #2277EE;
}

.page-5 .text{
    margin-bottom: 20px;
}